*{
    margin: 0%;
    padding: 0%;
}
.nav-links li{
    
    color: black;
    background-color: burlywood;
    text-align: center;
    font-size: 20px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    padding: 1%;
    
}

.header{
    color: white;
    background-color: brown;
    text-align: center;
    font-size: 30px;
    

}